html,
body {
  height: 100%;
}

form { 
	display: table;
}

label {
	display: table-cell;
}

input {
	display: table-cell;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.login_form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.login_form .checkbox {
  font-weight: 400;
}
.login_form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.login_form .form-control:focus {
  z-index: 2;
}
.login_form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login_form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-grid-col-strong {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
  font-weight: bold;
}

.display-none {
	display: none;
}

.btn_cred {
	max-width: 100%;
	word-break: break-all;
}

.input-entry-btn {
	width: 90%;
	word-break: break-all;
	margin-top:5px;
}

.text-center {
	text-align: center;
}

.relative {
	position:relative;
}

#badge_gen_pass {
	position: absolute;
	top: 11px;
	right: 5px;
}

@media (max-width:600px) {
	.div-fixed-top {
		margin: 0 0 0 -40%;
		position: fixed;
		top: 2%;
		z-index: 999;
		width: 80%;
		left: 50%;
	}
	.div-entry {
		width: 80%;
	}
}

@media (min-width:600px) {
	.div-fixed-top  {
		margin: 0 0 0 -250px;
		position: fixed;
		top: 1.5%;
		z-index: 999;
		width: 500px;
		left: 50%;
	}
	.div-entry {
		width: 400px;
	}
}
